<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="author" content="X2User B.V.">
        <meta name="keywords" content="ervaringscertificaat, evc, e-Portfolio, ePortfolio, ervaring, test, opleiding, diploma, cohort, kwalificatiedossier, mbo">
        <meta name="description" content="Geen diploma maar wel ervaring. Doe dan hier de test om jouw kennis en ervaring te testen. Toegespitst voor MBO kwalificatie dossiers.">
        <title>{% block title %}Test Mijn Ervaring{% endblock %}</title>
        <link rel="shortcut icon" href="{{ MEDIA_URL }}/img/favicon.ico" type="image/x-icon" />
        <link rel="icon" href="{{ MEDIA_URL }}/img/favicon.ico" />
        
        <script type="text/javascript" src="/static/js/jquery-1.6.4.js"></script>
        <script type="text/javascript" src="/static/js/jquery-ui-1.8.16.custom.min.js"></script>
        <script type="text/javascript" src="/static/js/jquery.smartWizard-2.0.js"></script>
         <script type="text/javascript" src="/static/js/jquery-validate/jquery.validate.js"></script>
        
        <!-- custom scripts -->
        <link type="text/css" href="/static/css/ui-lightness/jquery-ui-1.8.16.custom.css" rel="stylesheet" />
        <!-- <script type="text/javascript" src="/static/js/qtip-min.js"></script> -->
        <script type="text/javascript" src="/static/js/wizard.js"></script>
        
        <link rel="stylesheet" href="/static/css/style.css" type="text/css" />
        <link href="/static/css/smart_wizard.css" rel="stylesheet" type="text/css">
        <script type="text/javascript">
            //global vars
            var uitstroomid = 0;
            //var csrf_token = '{{ csrf_token }}';
            
        </script>
        
    </head>
    <body>
        
        <div id="content">
            <div id="header">
                Welk beroep past bij jouw ervaring?
            </div>
            <div id="header-phrase">
                Geen diploma maar wel ervaring? Test nu jouw kennis en ervaring!
            </div>
            <div id="app">
                {% block content %}{% endblock %}
            </div>
            
            <div id="footer" style="margin-top: 10px;">bron: <a href="http://www.kwalificatiesmbo.nl" target="_blank" style="color:#888888; text-decoration: none">www.kwalificatiesmbo.nl</a>   
                 |    informatie over deze test: <a href="MAILTO:info@rapasso.nl" style="color:#888888; text-decoration: none">info@rapasso.nl</a></div>
                
        </div>
        
    </body>
</html>