<html>
    <head></head>
    <body>
        <div id="testresultaten">
            <div id="header" style="padding: 0px; width: 780px;center top; text-align: left; height: 162px;">
                <img src="http://media.x2user.eu.s3.amazonaws.com/img/emaillogo.gif" border="0" />
                
            </div>
            <h3 style="border:1px solid #E0E0E0;padding:5px;font: bold 16px Verdana, Arial, Helvetica, sans-serif; color:#5A5655;background-color:#E0E0E0;clear:both;text-align:left;-webkit-border-radius: 5px;-moz-border-radius: 5px; width:768px; clear:both;">Jouw ervaring getest voor {{ title }}</h3>
            <div style="display:block; float:left; margin: 0; padding:5px; border: 1px solid #CCC;font: normal 12px Verdana, Arial, Helvetica, sans-serif; color:#5A5655;background-color:#F8F8F8; -webkit-border-radius: 5px;-moz-border-radius  : 5px; width:768px; clear:both;">
                {{ omschrijving }}
            </div>
            <br />
            <br />
            <div style="display:block; float:left; margin-top:10px; padding:5px; border: 1px solid #CCC;font: normal 12px Verdana, Arial, Helvetica, sans-serif; color:#5A5655;background-color:#F8F8F8; -webkit-border-radius: 5px;-moz-border-radius  : 5px; width:768px; clear:both;">
                <span style="font: bold 14px Verdana, Arial, Helvetica, sans-serif; color:#5A5655;">Jouw ervaring:</span>
                <br />
                <br />
                <span style="margin-top=15px; margin-left: 15px; margin-bottom: 15px; text-align: right">(1=geen, 2=weinig, 3=gemiddeld, 4=meer dan gemiddeld, 5=veel)</span>
                <table cellspacing="0" style="font: normal 12px Verdana, Arial, Helvetica, sans-serif; color:#5A5655;">
                    {% for k in kerntaken %}
                    <tr>
                        <td colspan="3"><b>{{ k.title }}</b></td>
                    </tr>
                    {% for w in k.werkprocessen %}
                    <tr class="tr-werkproces">
                        <td width="20"></td>
                        <td width="500">{{ w.title }}</td>
                        <td width="200">
                        <input type="radio" class="werkprocess" name="{{ w.id }}" value="1" {% ifequal w.score '1' %} checked="checked" {% endifequal %} disabled />
                        1
                        <input type="radio" class="werkprocess" name="{{w.id}}" value="2" {% ifequal w.score '2' %} checked="checked" {% endifequal %} disabled />
                        2
                        <input type="radio"  class="werkprocess"name="{{w.id}}" value="3" {% ifequal w.score '3' %} checked="checked" {% endifequal %} disabled />
                        3
                        <input type="radio"  class="werkprocess"name="{{w.id}}" value="4" {% ifequal w.score '4' %} checked="checked" {% endifequal %} disabled />
                        4
                        <input type="radio"  class="werkprocess" name="{{w.id}}" value="5" {% ifequal w.score '5' %} checked="checked" {% endifequal %} disabled />
                        5 </td>
                    </tr>
                    {% endfor %}
                    {% endfor %}
                </table>
            </div>
            <div style="display:block; float:left; margin-top:10px; padding:5px; border: 1px solid #CCC;font: normal 12px Verdana, Arial, Helvetica, sans-serif; color:#5A5655;background-color:#F8F8F8; -webkit-border-radius: 5px;-moz-border-radius  : 5px; width:768px; clear:both;">
                <span style="font: bold 14px Verdana, Arial, Helvetica, sans-serif; color:#5A5655;">Jouw toekomst:</span>
                <br />
                <br />
                <table cellspacing="0" style="font: normal 12px Verdana, Arial, Helvetica, sans-serif; color:#5A5655;">
                    <tr class="tr-werkproces">
                        <td width="20">1.</td>
                        <td width="500">Ik wil graag een ervaringscertficaat (EVC procedure volgen)</td>
                        <td width="200">
                        <input type="radio" name="evc" value="1" {% ifequal evc '1' %} checked="checked" {% endifequal %} disabled />
                        Ja
                        <input type="radio" name="evc" value="0" {% ifequal evc '0' %} checked="checked" {% endifequal %} disabled />
                        Nee
                    </tr>
                    <tr class="tr-werkproces">
                        <td width="20">2.</td>
                        <td width="500">Ik wil graag een <span id="#ervaringsprofiel">ervaringsprofiel </span>(EVP procedure volgen) </td>
                        <td width="200">
                        <input type="radio" name="evp" value="1" {% ifequal evp '1' %} checked="checked" {% endifequal %} disabled />
                        Ja
                        <input type="radio" name="evp" value="0" {% ifequal evp '0' %} checked="checked" {% endifequal %} disabled />
                        Nee
                    </tr>
                    <tr class="tr-werkproces">
                        <td width="20">3.</td>
                        <td width="500">Ik wil graag hulp van een loopbaancoach</td>
                        <td width="200">
                        <input type="radio" name="loopbaancoach" value="1" {% ifequal coach '1' %} checked="checked" {% endifequal %} disabled />
                        Ja
                        <input type="radio" name="loopbaancoach" value="0" {% ifequal coach '0' %} checked="checked" {% endifequal %} disabled />
                        Nee
                    </tr>
                    <tr class="tr-werkproces">
                        <td width="20">4.</td>
                        <td width="500">Ik wil graag dat ook een collega deze test voor mij invult</td>
                        <td width="200" class="td-choice">
                        <input type="radio" name="collega" value="1" {% ifequal collega '1' %} checked="checked" {% endifequal %} disabled />
                        Ja
                        <input type="radio" name="collega" value="0" {% ifequal collega '0' %} checked="checked" {% endifequal %} disabled />
                        Nee
                    </tr>
                    <tr>
                        <td colspan="3">
                        <br />
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3"><b>Jouw motivatie:</b></td>
                    </tr>
                    <tr>
                        <td colspan="3">{{ motivatie }}</td>
                    </tr>
                </table>
            </div>
        </div>
        <div style="display:block; text-align:center; margin-top:10px; padding:5px; font: normal 14px Verdana, Arial, Helvetica, sans-serif; color:#5A5655; clear:both; width:780px">
            <a href="http://www.rapasso.nl" style="text-decoration:none"><span style="font-size: 16x; font-family: Lucida Sans Unicode, sans-serif; font-style: italic; color: #f4a726;">De test is mogelijk gemaakt door Rapasso. Begeleid personen van A naar B!</span></a>
        </div>
        <br />
        <br />
    </body>
</html>