{% extends "_base.html" %}
{% block content %}


        
        <div id="icons">
            <div id="certificaat">
                <img src="/static/img/certificaat.png" alt="certificaat">
            </div>
            <div id="opleiding">
                <img src="/static/img/opleiding.png" alt="opleiding">
            </div>
            <div id="diploma">
                <img src="/static/img/diploma.png" alt="diploma">
            </div>
        </div>
        <div id="phrases">
            <div id="certificaat-phrase" class="phrase">
                Is jouw ervaring <br /> een diploma waard?
                <div class="starttest">Doe de test!</div>
            </div>
            <div id="opleiding-phrase" class="phrase">
                Welke vakgebieden <br /> kun je bijscholen?
                <div class="starttest">Doe de test!</div>
            </div>
            <div id="diploma-phrase" class="phrase">
                Kom je in aanmerking <br /> voor een certificaat?
                <div class="starttest">Doe de test!</div>
            </div>
        </div>
        <div id="aankondiging" class=".starttest">
            <!-- <span id="startwizard">Doe de test! </span> -->
        </div>
        <div id="naar-rapasso">
            Deze test wordt mogelijk gemaakt via <a href="http://www.rapasso.nl">Rapasso</a>. Begeleid personen van A naar B! 
        </div>
        
        {% csrf_token %}


{% endblock %}
