{% extends "_base.html" %}
{% block content %}


        
        <div id="icons">
            <div id="certificaat">
                <img src="/static/img/certificaat.png" alt="certificaat">
            </div>
            <div id="opleiding">
                <img src="/static/img/opleiding.png" alt="opleiding">
            </div>
            <div id="diploma">
                <img src="/static/img/diploma.png" alt="diploma">
            </div>
        </div>
        <div id="phrases">
            <div id="certificaat-phrase" class="phrase">
                Is jouw ervaring <br /> een diploma waard?
            </div>
            <div id="opleiding-phrase" class="phrase">
                Welke vakgebieden <br /> kun je bijscholen?
            </div>
            <div id="diploma-phrase" class="phrase">
                Kom je in aanmerking <br /> voor een certificaat?
            </div>
        </div>
        <div id="aankondiging">
            <span id="startwizard">Start de test! </span> 
            <!-- <span>Binnenkort kun je hier de test doen!</span> -->
            <!-- <img src="/static/img/start_button_small.png" /> -->
        </div>
        <div id="naar-rapasso">
            Deze test wordt mogelijk gemaakt via <a href="http://www.rapasso.nl">Rapasso</a>. Begeleid personen van A naar B! 
        </div>
        
        {% csrf_token %}


{% endblock %}
