<h3 class="StepTitle">Verzend de aanvraag</h3>


<div id="omschrijving" class="ui-widget" style="margin-left:10px; margin-top: 10px; font-family:Arial;">
    <div id="stap4" style="height: 240px; width: 735px; overflow: auto; padding: 5px" class="ui-widget-content">
        <form id="stap4_aanvraag">
            <table cellspacing="0" border="0">

                <tr class="tr-werkproces">
                    <td width="20"></td>
                    <td width="100"><label for="voornaam">Voornaam</label><em>*</em></td>
                    <td width="300">
                    <input type="text" name="voornaam" id="voornaam" value="{{ first_name }}" class="required" minlength="2" title=" " style="padding: 3px; width: 300px; font-family: Arial, Helvetica, sans-serif;" />
                    </td>
                     <td rowspan="5" width="300" valign="center" align="center"><img src="{{ logo }}" /></td>
                </tr>
                <tr class="tr-werkproces">
                    <td width="20"></td>
                    <td width="100"><label for="achternaam">Achternaam</label><em>*</em></td>
                    <td width="300">
                    <input type="text" name="achternaam" value="{{ last_name }}" class="required" minlength="2" title=" " style="padding: 3px; width: 300px; font-family: Arial, Helvetica, sans-serif;" />
                    </td>
                </tr>
                
                <tr class="tr-werkproces">
                    <td width="20"></td>
                    <td width="100">Postcode</td>
                    <td width="300">
                    <input type="text" name="postcode" value="{{ zipcode }}" style="padding: 3px; width: 300px; font-family: Arial, Helvetica, sans-serif;" />
                    </td>
                </tr>
                
                <tr class="tr-werkproces">
                    <td width="20"></td>
                    <td width="100"><label for="email">Email</label><em>*</em></td>
                    <td width="300">
                    <input type="text" name="email" value="{{ email }}" class="required email" title=" " style="padding: 3px; width: 300px; font-family: Arial, Helvetica, sans-serif;" />
                    </td>
                </tr>
                
                <tr class="tr-werkproces">
                    <td width="20"></td>
                    <td width="100">Telefoon</td>
                    <td width="300">
                    <input type="text" name="telefoon" value="{{ phone }}" style="padding: 3px; width: 300px; font-family: Arial, Helvetica, sans-serif;" />
                    </td>
                </tr>
                <tr>
                    <td width="20"></td>
                    <td colspan="2" width="700">
                        <div id="kbb-description">De beroepsomschrijving voor {{ name }} is ontwikkeld door {{ kbb }}:<br />{{ description }} </div>
                    </td>
                    </td>
                </tr>
                
                
            </table>
            
        </form>
    </div>
</div>

