


        
        <div id="thankyou">
            
            Beste {{ first_name }},<br /><br />
            
            Hartelijk dank voor jouw deelname aan deze ervaringstest.<br />
            

            Een kopie van jouw testresultaten wordt verstuurd naar: <br />
            <span id="email">{{ email }}</span>
            
            
        </div>
        
        <div id="binnenkort">
            
            <table border="0">
                <tbody><tr>
                    <td colspan="2" align="center">
                        Binnenkort ook beschikbaar
                        <br /><br />
                    </td>
                </tr>
                <tr>
                    <td align="center" width="250">
                        <a href="http://www.mijnontwikkelplan.nl" target="_blank">
                        <img src="/static/img/AppMijnOntwikkelplan.jpg" /><br />
                        <div style="color:#555555;margin-top: 10px; text-decoration: none">mijn ontwikkelplan</div>
                        </a>
                    </td>
                    <td align="center" width="250">
                        <a href="http://www.matchmijnportfolio.nl" target="_blank">
                        <img src="/static/img/AppMijnPortfolio.jpg" /><br />
                        <div style="color:#555555;margin-top: 10px; text-decoration: none">match mijn portfolio</div>
                        </a>
                    </td>
                    
                </tr>
            </tbody></table>
            

        </div>
        
        {% csrf_token %}
