<div id="wizard" class="swMain">
    <ul>
        <li>
            <a href="#step-1"> <label class="stepNumber">1</label> <span class="stepDesc"> Kies beroep
                <br />
                <small>Kies een beroep</small> </span> </a>
        </li>
        <li>
            <a href="#step-2"> <label class="stepNumber">2</label> <span class="stepDesc"> Jouw ervaring
                <br />
                <small>Geef aan wat je kan</small> </span> </a>
        </li>
        <li>
            <a href="#step-3"> <label class="stepNumber">3</label> <span class="stepDesc"> Jouw toekomst
                <br />
                <small>Geef aan wat je wil</small> </span> </a>
        </li>
        <li>
            <a href="#step-4"> <label class="stepNumber">4</label> <span class="stepDesc"> Aanvraag
                <br />
                <small>Verzend aanvraag</small> </span> </a>
        </li>
    </ul>
    
    <div id="step-1">

    </div>
    <div id="step-2">
       
        
        
    </div>
    <div id="step-3">
        
    </div>
    <div id="step-4">
        
    </div>
    
    
    
</div>
